body {
    background-color: black;
}
.container {
    width: 1000px;
    height: 750px;
    background-image:  url(./images/pexels-pixabay-206359\ \(1\).jpg);
    margin: 20px auto;
}


.jumbotron{
    background-color: #eaedef;
    text-align: center;
    width: 320px;
    height: 620px;
    align-items: center;
    margin: auto;
    border-radius: 10px;
    top: 20px;
    position: relative;
    border: 2px solid orange;
    opacity: 0.7;
}

button{
    border-radius: 20px;
   background-color:  rgb(151, 74, 170);
}
button:hover {
    background-color: tomato;
}
.result{
    height: 120px;
}
.keyboard{
    height: 400px;
}
.history{
    text-align: right;
    height: 20px;
    margin: 0 20px;
    padding-top: 20px;
    font-size: 15px;
    color: #919191;
}
.output{
    height: 60px;
    text-align: right;
    margin: 10px 20px;
    font-size: 30px;
}
h1{
    color: rgb(63, 40, 6);
}

.operators, .numbers, .empty {
    width: 50px;
    height: 50px;
    margin: 15px;
    border-radius: 50%;

}
.operators:focus, .numbers:focus, .empty:focus {
    outline: 0;

}

.numbers, .operators {
    cursor: pointer;
}
 #divide, #minus, #plus{
    background-color: #20b2aa;
    font-size: 20px;
}
#equals {
    background-color: #ffa500;
}
#clear{
    background-color: #7d93e0;
}
#multiply{
    background-color: #9477af;
}
#decimal {
    cursor: pointer;
    outline: 0;
    font-size: 20px;
    width: 50px;
    height: 50px;
    margin: 15px;
    border-radius: 50%;
}
.output{
    background-color: darkgrey;
    font-size: 50px;
    padding-right: 10px;
    
}